<?xml version="1.0"?>
<appSettings>
    <add key="ida:AppID" value="6dd56e9e-5233-429c-b2c6-dfe44d434291" />
    <add key="ida:AppSecret" value="-v.03~aVyE~0oWC.GieMpJbtqldNEcNpO7" />
    <add key="ida:RedirectUri" value="https://localhost:44375/" />
    <add key="ida:AppScopes" value="User.Read Calendars.Read Mail.Send Mail.Send.All Mail.Send.Shared MyFiles.Read MyFiles.Write" />
    <!--<add key="ida:AADInstance" value="https://login.microsoftonline.com/" />
    <add key="ida:Domain" value="theergogroup.com" />
    <add key="ida:TenantId" value="89c2b538-b2c7-46bc-b708-071557741a0f" />
    <add key="ida:ClientSecret" value="k0h2qzIwBVahyalaCOsjMKr+5tptDbjx9l+dA13/WsI=" />
    <add key="ida:ClientId" value="0d45d3d7-3d7f-46c8-8913-ddd3c7c381a6" />-->

</appSettings>
